.main {
    flex: 1;
    height: 100vh; /* Adjust to 100% to allow full page height */
    /* overflow-y: auto;  */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 15vh; /* Adjust if needed */
    overflow-y: auto; 
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px 20px 0 20px; /* Top, Right, Bottom, Left */
    color: #585858;
}


.main .nav img {
    width: 40px;
    border-radius: 50%;
}

.main-container {
    max-width: 900px;
    width: 100%;
    margin: auto;
    padding: 20px;
}

.main .greet {
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500;
    margin-top: 0px;
    padding: 0 20px 20px 20px; /* Top, Right, Bottom, Left */
}

.main .greet span {
    background: linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.main .card {
    height: 200px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.main .card img {
    width: 35px;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.main .card p {
    color: #585858;
    font-size: 17px;
}

.main .card:hover {
    background-color: #dfe4ea;
}

.main-bottom {
    
    padding: 0px 20px;
    bottom:0;
    max-width: 900px;
    width: 100%;
    margin: auto;
    text-align: center;
    position: absolute;
}
.serachCont
{
    justify-content: center;
    position: static;

}

.search-box {
    display: flex;
    align-items: center;
    background-color: #f0f4f9;
    
    padding: 10px 20px;
    border-radius: 50px;
    margin-bottom: 20px;
    
    
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    background: transparent;
}

.icons {
    display: flex;
    gap: 1px;
}

.search-box img {
    width: 24px;
}

.main .bottom-info {
    font-size: 13px;
    margin: 15px 0;
    text-align: center;
    font-weight: 300;
    
}

.result {
    padding: 0 5%;
    max-height: 70vh;
    overflow-y: auto; 
    flex:1;
    
}

.result::-webkit-scrollbar {
    display: none;
}

.result-title {
    margin: 40px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result img {
    width: 40px;
    border-radius: 50%;
}

.result-data {
    display: flex;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;
   
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
    
}

.loader hr {
    border: none;
    border-radius: 4px;
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader {
    0% {
        background-position: -800px;
    }
    100% {
        background-position: 800px 0;
    }
}

.result-data p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}
@media (max-width: 600px) {
    .main .cards {
        grid-template-columns: 1fr; /* Stack cards vertically on smaller screens */
        padding: 10px;
    }
    
    .search-box {
        padding: 0px 0px 0px  80px;
    
        flex:none;
        /* Adjust padding for smaller screens */
    }

    .main .greet {
        font-size: 36px; /* Reduce font size for smaller screens */
        padding: 0 10px;
    }

    .main-container {
        max-width: 100%; /* Ensure it takes full width on small screens */
        padding: 10px;
    }
}